@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!--Carousel Section-->
<div class="container-fluid">
    <div class="container-fluid text-center">

        <div id="carouselExampleCaptions" class="carousel slide container-fluid" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <video controls="controls" class="my-video" loop="" autoplay="" muted="" playsinline="">
                        <source src="~/crisscargo/images/video.mp4" type="video/mp4" />
                    </video>
                    <div class="carousel-caption ">
                        <h5>World Class Logistics</h5>
                        <p>We deliver Acrross the globe with best standard shipping Services</p>
                        <p><a href="#" class="btn btn-warning mt-3">Submit Order</a> </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <video controls="controls" class="my-video" loop="" autoplay="" muted="" playsinline="">
                        <source src="~/crisscargo/images/vid34.mp4" type="video/mp4" />
                    </video>
                    <div class="carousel-caption ">
                        <h5>Fast and Reliable Shipment</h5>
                        <p>We Pride in Speed and accuracy</p>
                        <p><a href="#" class="btn btn-warning mt-3">Submit Order</a> </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <video controls="controls" class="my-video" loop="" autoplay="" muted="" playsinline="">
                        <source src="~/crisscargo/images/vide3as.mp4" type="video/mp4" />
                    </video>
                    <div class="carousel-caption ">
                        <h5>Procurement and Warehousing</h5>
                        <p>We provide you with Product Outsourcing and a Reliable Inventory Management System</p>
                        <p><a href="#" class="btn btn-warning mt-3">Submit Order</a> </p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <!-- Guidline section -->
    <div class="container-fluid">
        <div class="text-center banner-1">
            <h2>All you need to do</h2>
            <p>Send your Orders to us and we will handle the rest</p>
        </div>
        <div class="row">
            <div class="col text-center m-3">
                <span><i class=" bi bi-bag-check icon-1"></i></span>
                <div class="space ">
                    <h4>Step 1</h4>
                    <p>Shopping on Alibaba or other websites</p>
                </div>
            </div>
            <div class="col text-center m-3">
                <span><i class="bi bi-credit-card-2-front icon-2"></i></i></span>
                <div class="space ">
                    <h4>Step 2</h4>
                    <p>Send the Parcel to CrissCargo warehouse or forward your links for Procurement</p>
                </div>
            </div>
            <div class="col text-center m-3">
                <span><i class="bi bi-file-earmark-break icon-3"></i></i></span>
                <div class="space ">
                    <h4>Step 3</h4>
                    <p>Login on to your dashboardto track your parcels</p>
                </div>
            </div>
            <div class="col text-center m-3">
                <span><i class="bi bi-airplane icon-4"></i></span>
                <div class="space ">
                    <h4>Step 4</h4>
                    <p>After the parcels arrive at the warehouse, apply to Shipping</p>
                </div>
            </div>
            <div class="col text-center m-3">
                <span><i class="bi bi-clipboard-check-fill icon-5"></i></i></span>
                <div class="space ">
                    <h4>Step 5</h4>
                    <p>Waiting for CrissCargo Nigeria warehouse pickup message to receive your goods</p>
                </div>
            </div>
        </div>
    </div>

    <!--First Banner-->
    <div class="container-fluid  banner-2">
        <div class="row">
            <div class="col-sm-6 text-white p-5">
                <span class="text-primary">Warehousing Solutions!</span>
                <h1 class="mt-3">Standard Storage Facility </h1>
                <div class="justify-content-center">
                    <p>

                        Through our logistics solutions we help our customers simplify their ‘supply chain’ and connect them to all regions of the world. Our customers focus more on their core business in order to remian competitive in their own markets. We manage all processes related to domestic and international transportation, such as logistics departments, on behalf of our customers..
                    </p>
                    <p>
                        Our door-to-door solutions cover all shipment and commodity types by air, ocean or road, throughout and beyond the region. We guarantee pick-up and delivery of cargo from any air or seaport and border crossing, in any city on the globe.
                    </p>
                    <p>
                        Throughout the region, Project Cargo has the local know-how, relationships and global resources to support clients through the customs clearance process. We work with our clients to coordinate shipments; large and small, with a broad range of carriers to ensure unmatched time and cost efficiency.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="~/crisscargo/images/warehouse1.jpg" />
            </div>
        </div>
    </div>
    <div class="container-fluid m-4">
        Our Procurement and Shipping Solutions Saves You Time. <a href="#" class="btn btn-inline sol"><strong>Finds Your Solutions</strong> <i class="bi bi-arrow-right-circle-fill"></i></a>
    </div>

    <!--Advantage secttion-->
    <div class="container-fluid text-center banner-3">
        <div class="text-center py-5">
            <h2>Eight Service Advantages to Make You More Confident</h2>
            <p>Speed, price, security, bring you intimate service</p>
        </div>

        <div class="container-fluid row justify-content-center ">
            <div class="col text-center m-3">
                <span><i class=" bi bi-box-seam-fill icon-A"></i></span>
                <div class="text-center ">
                    <h4 class="cmt-1">Procurment Services</h4>
                    <p class="cmt-2">We will help you place orders and pay your suppliers</p>
                </div>
            </div>
            <div class="col text-center m-3">
                <span><i class=" bi bi-truck icon-B"></i></span>
                <div class="text-center ">
                    <h4 class="cmt-1">Parcel Tracking</h4>
                    <p class="cmt-2">domesticand foreign parcels, automatic tracking, One key to query the status of your goods</p>
                </div>
            </div>
            <div class="col text-center m-3">
                <span><i class=" bi bi bi-speedometer icon-C"></i></span>
                <div class="text-center ">
                    <h4 class="cmt-1">Weigh goods in advance</h4>
                    <p class="cmt-2">Weighing in the warehouse before shipping allows your predict shipping cost and save money</p>
                </div>
            </div>
            <div class="col text-center m-3">
                <span><i class=" bi bi-house-lock-fill icon-D"></i></span>
                <div class="text-center ">
                    <h4 class="cmt-1">Free Assembly and Storage</h4>
                    <p class="cmt-2">Free Storage and Packaging, Saves you more money</p>
                </div>
            </div>
        </div>
        <div class="container-fluid row">
            <div class="col text-center m-3">
                <span><i class=" bi bi bi-headset icon-E"></i></span>
                <div class="text-center ">
                    <h4 class="cmt-1">Perfect After Sales</h4>
                    <p class="cmt-2">Fast and reliable customer service. Replies within one minute </p>
                </div>
            </div>
            <div class="col text-center m-3">
                <span><i class=" bi bi-bell-fill icon-F"></i></span>
                <div class="text-center ">
                    <h4 class="cmt-1">Automatic Notification</h4>
                    <p class="cmt-2">Package operation status, Timely and automatic notification without active enquiry</p>
                </div>
            </div>
            <div class="col text-center m-3">
                <span><i class=" bi bi-calendar2-check-fill icon-G"></i></span>
                <div class="text-center ">
                    <h4 class="cmt-1">Free Consolidation</h4>
                    <p class="cmt-2">We help receive, assemble your goods and package for shipping when you are ready</p>
                </div>
            </div>
            <div class="col text-center m-3">
                <span><i class=" bi bi-building-check icon-H"></i></span>
                <div class="text-center">
                    <h4 class="cmt-1">Cost Effective</h4>
                    <p class="cmt-2">Pay 0 service fee, 0 customs clearing fee.</p>
                </div>
            </div>
        </div>
    </div>

    <!--Second Banner-->
    <div class="container-fluid banner-2">
        <div class="row">
            <div class="col-sm-6 text-white p-5">
                <span class="text-primary">Product solution, Real Fast!</span>
                <h1 class="mt-3">Global Freight Forwarding </h1>
                <div>
                    <p>

                        Through our logistics solutions we help our customers simplify their ‘supply chain’ and connect them to all regions of the world. Our customers focus more on their core business in order to remian competitive in their own markets. We manage all processes related to domestic and international transportation, such as logistics departments, on behalf of our customers..
                    </p>
                    <p>
                        Our door-to-door solutions cover all shipment and commodity types by air, ocean or road, throughout and beyond the region. We guarantee pick-up and delivery of cargo from any air or seaport and border crossing, in any city on the globe.
                    </p>
                    <p>
                        Throughout the region, Project Cargo has the local know-how, relationships and global resources to support clients through the customs clearance process. We work with our clients to coordinate shipments; large and small, with a broad range of carriers to ensure unmatched time and cost efficiency.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="~/crisscargo/images/cargo1.jpg" />

            </div>
        </div>
    </div>

    <div class="container-fluid m-4">
        Our Pricing and Rates saves you Money. <a href="#" class="btn btn-inline sol"><strong>Finds Your Solutions</strong> <i class="bi bi-arrow-right-circle-fill"></i></a>
        <a href="#" class="back-to-top d-flex align-items-center justify-content-end"><i class="bi bi-arrow-up-short" style="font-size:80px;"></i></a>

    </div>


</div>