@model CrissCargoApp.Models.Procurement

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h2>Edit Order</h2>
        </div>
        <div class="card-body">
            <form asp-controller="Admin" asp-action="EditAllOrders" method="post">
                <input asp-for="Id" hidden />
                <div class="row">
                    <div class="col-6">
                        <div form-group>
                            <label asp-for="CustomerId">Customer id</label>
                            <input type="number" class="form-control" asp-for="CustomerId" />
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Customers">Customer</label>
                                <input type="text" class="form-cntrol" asp-for="Customers" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="OrderNo">Order Number</label>
                                <input type="number" class="form-control" asp-for="OrderNo"/>
                            </div>
                        </div>
                        <div class="col-6">
                            <div clas
                                form-group>
                                <label asp-for="ProductLink">Product Link</label>
                                <input type="url" class="form-control" asp-for="ProductLink"/>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="ProductPicture">Product Picture</label>
                                <input type="file" class="form-control" asp-for="ProductPicture"/>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Quantity">Qnty</label>
                                <input type="number" class="form-control" asp-for="Quantity"/>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Colour">Colour</label>
                                <input type="text" class="form-group" asp-for="Colour"/>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Size">Size</label>
                                <input type="number" class="form-control" asp-for="Size"/>
                            </div>
                        </div>
                        <div>
                            <button type="button" class="btn btn-warning">Update</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>