@model CrissCargoApp.ViewModel.ApplicationUserViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


<main>
    <div class="container login">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <span class="text-warning">Criss</span>Cargo
                </a>
            </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">
                    <div class="text-center">
                      <i class="bi bi-person" style="font-size:80px;"></i>
                    </div>

                  <div class="">
                    <h5 class="card-title text-center text-primary pb-0 fs-4">Login to Your Account</h5>
                    <p class="text-center small">Enjoy Faster and Reliable Services</p>
                  </div>

                  <form class="row g-3 needs-validation" asp-controller="Account" asp-action="Login" method="post" novalidate>

                    <div class="col-12">
                        <label asp-for="Email" class="form-label">Email</label>
                      <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend"></span>
                        <input type="email" asp-for="Email" class="form-control" id="yourEmail" required>
                        <div class="invalid-feedback">Please enter your Email.</div>
                      </div>
                    </div>

                    <div class="col-12">
                      <label asp-for="Password" class="form-label">Password</label>
                      <input type="password" asp-for="Password" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">Please enter your password!</div>
                    </div>

                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                        <label class="form-check-label" for="rememberMe">Remember me</label>
                      </div>
                    </div>

                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Login</button>
                    </div>
                    <div class="col-12">
                        <p class="small mb-0">
                            Don't have account? 
                            <a asp-controller="Account" asp-action="Register" class="btn btn-inline sol-1">
                                <strong>Register</strong><i class="bi bi-arrow-right-circle-fill"></i>
                            </a>
                        </p>
                    </div>
                  </form>

                </div>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

