@{
    ViewData["Title"] = "ContactUs";
    Layout = "/Views/Shared/_UserLayout.cshtml";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Contact Us</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Contact</li>
            </ol>
        </nav>
    </div>
    <section class="section dashboard m-auto">
        
       <div class="card">
           <div class="card-header">
               <h2 class="text-center">Conttact Admin</h2>
           </div>
           <div class="card-body">
                <form>
                   <div class="row">
                        <div class="form-group col-6 pt-3">
                            <label for="Name">Full Name</label>
                            <input type="text" class="form-control" placeholder="Enter Full Name">

                        </div>
                        <div class="form-group col-6 pt-3">
                            <label for="PhoneNumber">Phone Number</label>
                            <input type="tel" class="form-control" placeholder="Enter your phone number">
                        </div>
                        <div class="form-group pt-3">
                            <label for="Email"> Email Address</label>
                            <input type="email" class="form-control" placeholder="Enter your email" />
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group pt-3">
                            <label for="message">Message</label>
                            <textarea maxlength="500" minlength="10" placeholder="Type your message..." class="form-control">

                       </textarea>
                        </div>
                   </div>
                </form>
           </div>
           <div class="card-footer">
               <button type="submit" class="btn btn-primary">Submit</button>
           </div>

       </div>

    </section>
</main>


